.find-job-button {
  background-color: #121d2f;
  color: #4493f8;
  border: 3px solid #4493f8;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

.find-job-button:hover {
  background-color: #4493f8;
  color: #121d2f;
}
